@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

header{
height:100vh;
background-image:url("https://st2.depositphotos.com/1105977/5461/i/600/depositphotos_54615585-stock-photo-old-books-on-wooden-table.jpg");
background-repeat:no-repeat;
background-size:cover;
background-position:center;
}

.container{
width:50%;
display:grid;
place-items:center;
box-shadow:0 2px 4px black;
}
.main{
padding-top:10rem;
}

input{
outline:none;
border:none;
background:transparent;
margin-bottom:10px;
border-bottom:1px solid black;
color:black;
font-weight:bold;
}

#headline{
padding-top:5px;
font-family: 'Zen Tokyo Zoo', cursive;
font-weight:bolder;
text-decoration:underline;
}


::placeholder{
color:black;
font-weight:bolder;
}

.bton{
width:200px;
border-radius:20px;
margin-bottom:10px;
}

.showbooks{
color:blue;
font-weight:bolder;
}